.project-item {
  height: auto;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(240, 240, 240);

  background-color: rgb(252, 252, 252);

  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;

  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 10px;

  .project-title-box {
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

    padding: 0px;

  }

  .task-title-text {
    overflow: hidden;

  }

  .project-title-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30px;
    max-width: 30px;
    
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;

    padding: 0px;
  }

  .project-title-priority svg {
    max-height: 100%;
    max-width: 100%;
  }


  .project-medium-text {
    padding: 0px;
    margin: 0px;

    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(65, 65, 65);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .project-timeline,
  .project-employees,
  .project-teams {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;

    h3{
      padding: 0px;
      margin: 0px;
  
      font-size: 0.85em;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      padding: 0px;
      margin: 0px;
  
      font-size: 0.8em;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;  
    }
  }

  .project-no-margins {
    margin: 0px;
    padding: 0px;

    font-size: 0.8em;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    
    
  }

  &:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06);
  
  }
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background-color: white;
  width: 45%;
  height: 70%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

