.header-inner-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  z-index: 1000;
}

.header-inner-auth button {
  width: auto;
  margin: 5px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 6px;
  color: rgb(223, 238, 252);
  background-color: #7ba4f1;
  border: 2px solid #698fd4;
  cursor: pointer;
}