.progress-circle-container {
  position: relative;
  display: inline-block;
}

.progress-circle {
  width: 100%;
  height: 100%;
  display: block;
}

.progress-circle__background {
  fill: none;
  stroke: rgb(232, 231, 231);
}

.progress-circle__progress {
  fill: none;
  stroke: #5DBB67;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(90deg);
  transform-origin: center;
}

.progress-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3px;
  padding: 5px;
  background-color: white;
  color: rgb(101, 101, 101);
  font-size: 11px;
  font-weight: 600;

  border: 1px solid rgb(234, 232, 232);
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none; /* Prevents the tooltip from interfering with hover events */
}